h3 {
    color: pink;
    font-family: 'Courier New';
}

/* external css*/

p {
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-style: italic;

}

#myid {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.myclass {
    color: green;
}

h4,
h5{
    font-family: Cambria;
}
*{
    background-color: grey;
}